<div class="container">

        <!-- Jumbotron Header -->
        <header class="bodycontainer hero-spacer">
           
		   <div class="btn-group btn-group-justified" style="margin-top: 120px;">
			  <div class="btn-group">
				<button type="button" class="btn btn-success" routerLink ="/bulkoperations">Bulk Operations</button>
			  </div>
			  <div class="btn-group">
				<button type="button" class="btn btn-success">Opearations Management</button>
			  </div>
			  <div class="btn-group">
				<button type="button" class="btn btn-success">Product Summary</button>
			  </div>
			</div>
			
	    </header>

</div>