        <!-- Jumbotron Header -->
        <div class="container">
        <header class="bodycontainer hero-spacer">
           <h3 class="mar-bot-30">Admin Bulk Operations</h3>
             <div class="col-sm-12 mar-top-30">
                 <div class="col-sm-6"> 
                    <b>LoginID </b><input type="text" placeholder=""/><br/><br/>
				    <input type="checkbox"/>&nbsp;Show Active<br/>
				    <input type="checkbox"/>&nbsp;Show Deleted<br/>
				    <input type="checkbox"/>&nbsp;Show Cancelled & Suspended
                 </div>
                 <div class="col-sm-6">
				    <b class="vertical-align">Product id(s)</b> 
				    <textarea rows="6" cols="35"></textarea>
				    <button type="button" class="display-btn">Display Products</button>
                 </div>
				 				  
			 </div>
			
			
        </header>
        </div>